{
  "presets": ["next/babel"],
  "env": {
    "production": {
      "plugins": [
        "transform-inline-environment-variables",
        "transform-flow-strip-types"
      ]
    },
    "development": {
      "plugins": [
        "inline-dotenv",
        "flow-react-proptypes",
        "transform-flow-strip-types"
      ]
    }
  }
}
