{
  "presets": ["next/babel", "flow"],
  "env": {
    "production": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": "./.env.production"
          }
        ],
        "inline-react-svg",
        "transform-flow-strip-types"
      ]
    },
    "development": {
      "plugins": [
        "inline-dotenv",
        "inline-react-svg",
        "flow-react-proptypes",
        "transform-flow-strip-types"
      ]
    }
  }
}
